@font-face
{
	font-family: "Asap Condensed";
	src: url('../GLOBAL/fonts/AsapCondensed-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: "Asap Regular";
src: url('../GLOBAL/fonts/AsapCondensed-ExtraLight.ttf') format('truetype');
}
:root {
    --color-utez-azul: #0D3464;
    --color-utez-verde-claro: #14AC8CCC;
    --color-utez-verde: #14AC8C;
    --color-claro-gris: #727272;
    --color-claro-blanco: #fff;
    
  }
  html
  {
    font-size: calc(1em + 1vw);
  
  
  }
  .txt-1-white
  {
    color: var(--color-claro-blanco);
    text-align: center;
    font-family: 'Asap Condensed';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .txt-2-gray{
    color: var(--color-claro-gris);
    text-align: center;
    font-family: 'Asap Condensed';
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .tl-1-white
  {
    color: var(--color-claro-blanco);
    text-align: center;
    font-family: 'Asap Condensed';
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .txt-3-blue{
    color: var(--color-utez-azul);
    text-align: center;
    font-family: 'Asap Condensed';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .txt-4-green
  {
    color: var(--color-utez-verde);
    text-align: center;
    font-family: 'Asap Condensed';
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .txt-5-blue
  {
    color: var(--color-utez-azul);
    text-align: center;
    font-family: 'Asap Condensed';
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  
  .txt-regular {
    color: var(--color-claro-gris);
    text-align: center;
    font-family: 'Asap Regular';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }